## Machine Learning system for Credit Risk
- This is a first part of the bachelor thesis where I will build a complete **Machine Learning system for Credit Risk**, including models to predict the three components of expected loss in the context of **credit risk modeling** at the **Lending Club** (a peer-to-peer lending company): **Probability of Default (PD), Exposure at Default (EAD) and Loss Given Default (LGD)**. 
- The expected loss will be the product of these elements: **Expected Loss (EL) = PD * EAD * LGD**. These models will be used to stablish a credit policy, deciding wheter to grant a loan or not for new applicants (application model) based on their credit scores and expected losses on loans. By estimating the Expected Loss (EL) from each loan, the Lending Club can also assess the required capital to hold to protect itself against defaults.
- The PD modelling encompasses an imbalanced binary classification problem with target being 1 in case of non-default and 0 in case of default (minority class). A Logistic Regression model will be built. 
- The LGD and EAD modelling encompasses a beta regression problem, that is, a regression task in which the dependent variables are beta distributed, the recovery rate and credit conversion factor, respectively.
- The **methodologies** is intergreated with the **crisp-dm** framework:
    1. Business understanding.
    2. Data understanding.
    3. Data preparation.
    4. Modelling.
    5. Validation.
    6. Deployment.
- Below, I will introduce **information** about the **company**, the **business problem**, the **project objectives and benefits**, and some important **concepts** to have in mind, given that I am dealing with a credit risk problem.

## Lending Club
- **What is the Lending Club?:**
    - LendingClub is a **peer-to-peer lending platform** that facilitates the borrowing and lending of money directly between individuals, without the need for traditional financial institutions such as banks. The platform operates as an online marketplace, connecting borrowers seeking personal loans with investors willing to fund those loans.

## Business Problem: Managing Default Risks and Optimizing Returns
- **What is the business problem?**
    - LendingClub faces a significant business challenge related to **managing default risks effectively** while **optimizing returns** for its investors. The platform facilitates peer-to-peer lending, connecting borrowers with investors, and relies on **accurate risk assessments to maintain a sustainable and profitable lending ecosystem.** Thus, the CEO wants us to provide insights about which factors are associated with credit risk in Lending Club's operations, and to construct models capable of predicting the probability of default for new applicants and possible losses on its loans in order to establish a credit policy, deciding when to grant a loan or not for an applicant. An important observation is that the CEO wants these models to be easy to understand. Since our company works on the internet, making customers happy and being clear is really important. So, we need to be able to explain why we decide to approve or deny a loan.
- **Which are the project objectives and benefits?**
    1. Identify the factors associated with **credit risk** in the form of business **insights.**
    2. Develop an accurate **Probability of Default (PD) Model**, constructing a scorecard. This will allow Lending Club to decide wheter to grant a loan or not to a new applicant (**application model**), based on **credit scores.**
    3. Develop **Exposure at Default (EAD) and Loss Given Default (LGD) Models**, to estimate the **Expected Loss** in loans. This will allow Lending Club to **hold** sufficient **capital** to protect itself against default in each loan.
    4. Improve **risk management** and optimize **returns** by establishing a **credit policy** leveraging the results of the three models above and the Expected Loss, trying to balance risk and **ROI** of Lending Club's assets.
    5. Apply **model monitoring** and maintenance techniques to safeguard our results from population instability, characterized by significant changes in loan applicants' characteristics. This will allow us to understand whether the built model is still useful in the future or whether the loan applicants characteristics changed significantly, such that we will need to redevelop it.

## Credit Risk Modeling Concepts: The Context of the Problem
- **Financial institutions**, like LendingClub and online lending platforms, **make money by lending to people and businesses.** When they lend money, they **charge interest**, which is a significant source of their **profits**. **Managing credit risk well is crucial** for these institutions. This means ensuring that borrowers pay back their loans on time to avoid losses.
- **Credit risk** is the possibility that a borrower might not fulfill their financial obligations, leading to a loss for the lender. If a borrower fails to meet the agreed-upon terms, it's called a "default," and it can result in financial losses for the lender. The **default** definition is associated with a time horizon. For example, if a borrower hasn't paid their debt within 90 days of the due date, they are considered in default.
- In the credit market, important **rules** help keep things honest and clear. **Basel III** is one such set of rules, making sure banks have **enough money (capital requirements)** and follow **guidelines for assessing loan risks**. The **Internal Rating-Based Approach (IRB-A)** lets banks figure out credit risks using concepts like Probability of Default (PD), Exposure at Default (EAD), and Loss Given Default (LGD). Another rule, **International Financial Reporting Standard 9 (IFRS 9)**, gives standards for measuring financial assets. It's special because it looks at the chance of a loan not being paid back over its entire life, unlike Basel, which checks it for one year. These rules help banks have enough money, handle risks well, and keep the credit market steady and trustworthy.
- The **"expected loss (EL)"** is the average estimated loss that a lender can expect from loans that default. It involves three factors: the **probability of default (likelihood of a borrower defaulting)**, **loss given default (portion of the amount the bank is exposed to that can't be recovered in case of default)**, and **exposure at default (potential loss at the time of default, considering the outstanding loan amount and other factors)**.
- **LendingClub**, operating as a peer-to-peer lending platform, uses a **"PD Model/Credit Scoring Model" to assess borrowers' creditworthiness using credit scores**. This helps determine the **likelihood of loan repayment**, guiding the decision to **approve or deny the loan.** The **required capital to guard against default** for each loan is calculated using **EAD and LGD Models** to estimate the **Expected Loss (EL)**, contributing to minimizing risk in credit operations.
- When creating a Credit Scoring Model, which assesses creditworthiness for loan approval, using data available at the time of the application is considered an **"application model."** It is distinct from a "behavior model." This is the model I will build here.
- A **"credit policy"** is a set of guidelines that financial institutions follow to evaluate and manage lending risk. Factors such as the expected ROI for each loan application, credit scores, risk classes, expected losses, and so on, are included.
- **"Return on Investment (ROI)"** is a key measure of loan profitability. Balancing ROI with risk is vital for effective credit policy management. While higher-risk loans may offer more significant potential returns, they also come with a higher chance of default.

In **this notebook** I intend to perform an **initial data exploration and data cleaning**, necessary to explore the data and build robust models further, encompassing the first and second steps of crisp-dm framework. The objective here is to convert features to the correct data types, initially remove unuseful variables, treat/diagnose missing, duplicate and outlier values, create new relevant variables, define the target variables, and obtain a final memory optimized clean dataset for faster and more efficient analysis. Finally, the rationale behind each decision is explained in detail below.

### 1.0 Import the libraries

In [4]:
# Data manipulation and visualization.
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# Display options.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_info_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Filter warnings.
import warnings
warnings.filterwarnings('ignore')

### 1.1 Data Understanding
- The data was collected from Kaggle and contain complete loan data for all loans issued through the 2007-2015, including the current loan status (Current, Late, Fully Paid, etc.) and the latest payment information.
- This include consumer loans, as explained above in Lending Club's services, and encompasses data available at the moment of the application. Thus, it will be used to build an application model.
- In this step, I intend to perform some initial data understanding, like assessing the dimensions of the dataset, features data types, missing and duplicated values, categorical and numerical variables and so on.

In [5]:
path = 'E:\lending_club_rep\Lending-Club-Credit-Scoring\data\loan_data_2007_2014.csv'
df = pd.read_csv(path)

In [6]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.0,0.0,0.0,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.0,0.0,0.0,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.0,0.0,0.0,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.0,0.0,0.0,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.0,0.0,0.0,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

- In the context of credit it's important to use an **out-of-time split** instead of an out-of-sample split because we want to understand how well the model, trained with past data, can predict the default of credit applicants in a future time. Thus, I will **sort the data** before everything, providing a chronological order for the loan data.

In [8]:
# Sort the df by id, obtaining loan data over time.
df = df.sort_values(by='id', ascending=True).reset_index(drop=True)

#### 1.2 Data dictionary
- Below we have the information about what each feature of the dataset means.

**addr_state**: The state provided by the borrower in the loan application

**annual_inc**: The self-reported annual income provided by the borrower during registration.

**annual_inc_joint**: The combined self-reported annual income provided by the co-borrowers during registration.

**application_type**: Indicates whether the loan is an individual application or a joint application with two co-borrowers

**collection_recovery_fee**: Post charge-off collection fee

**collections_12_mths_ex_med**: Number of collections in 12 months excluding medical collections

**delinq_2yrs**: The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years

**desc**: Loan description provided by the borrower

**dti**: A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.

**dti_joint**: A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income

**earliest_cr_line**: The month the borrower's earliest reported credit line was opened

**emp_length**: Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

**emp_title**: The job title supplied by the Borrower when applying for the loan.

**fico_range_high**: The upper boundary range the borrower’s FICO at loan origination belongs to.

**fico_range_low**: The lower boundary range the borrower’s FICO at loan origination belongs to.

**funded_amnt**: The total amount committed to that loan at that point in time.

**funded_amnt_inv**: The total amount committed by investors for that loan at that point in time.

**grade**: LC assigned loan grade

**home_ownership**: The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.

**id**: A unique LC assigned ID for the loan listing.

**initial_list_status**: The initial listing status of the loan. Possible values are – W, F

**inq_last_6mths**: The number of inquiries in the past 6 months (excluding auto and mortgage inquiries)

**installment**: The monthly payment owed by the borrower if the loan originates.

**int_rate**: Interest Rate on the loan

**is_inc_v**: Indicates if income was verified by LC, not verified, or if the income source was verified

**issue_d**: The month which the loan was funded

**last_credit_pull_d**: The most recent month LC pulled credit for this loan

**last_fico_range_high**: The upper boundary range the borrower’s last FICO pulled belongs to.

**last_fico_range_low**: The lower boundary range the borrower’s last FICO pulled belongs to.

**last_pymnt_amnt**: Last total payment amount received

**last_pymnt_d**: Last month payment was received

**loan_amnt**: The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.

**loan_status**: Current status of the loan

**member_id**: A unique LC assigned Id for the borrower member.

**mths_since_last_delinq**: The number of months since the borrower's last delinquency.

**mths_since_last_major_derog**: Months since the most recent 90-day or worse rating

**mths_since_last_record**: The number of months since the last public record.

**next_pymnt_d**: Next scheduled payment date

**open_acc**: The number of open credit lines in the borrower's credit file.

**out_prncp**: Remaining outstanding principal for the total amount funded

**out_prncp_inv**: Remaining outstanding principal for the portion of total amount funded by investors

**policy_code**: Publicly available policy_code=1; new products not publicly available policy_code=2

**pub_rec**: Number of derogatory public records

**purpose**: A category provided by the borrower for the loan request.

**pymnt_plan**: Indicates if a payment plan has been put in place for the loan

**recoveries**: Post charge-off gross recovery

**revol_bal**: Total credit revolving balance

**revol_util**: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

**sub_grade**: LC assigned loan subgrade

**term**: The number of payments on the loan. Values are in months and can be either 36 or 60.

**title**: The loan title provided by the borrower

**total_acc**: The total number of credit lines currently in the borrower's credit file

**total_pymnt**: Payments received to date for the total amount funded

**total_pymnt_inv**: Payments received to date for the portion of the total amount funded by investors

**total_rec_int**: Interest received to date

**total_rec_late_fee**: Late fees received to date

**total_rec_prncp**: Principal received to date

**url**: URL for the LC page with listing data

**verified_status_joint**: Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified

**zip_code**: The first 3 numbers of the zip code provided by the borrower in the loan application.

**open_acc_6m**: Number of open trades in the last 6 months

**open_il_6m**: Number of currently active installment trades

**open_il_12m**: Number of installment accounts opened in the past 12 months

**open_il_24m**: Number of installment accounts opened in the past 24 months

**mths_since_rcnt_il**: Months since most recent installment accounts opened

**total_bal_il**: Total current balance of all installment accounts

**il_util**: Ratio of total current balance to high credit/credit limit on all installment accounts

**open_rv_12m**: Number of revolving trades opened in the past 12 months

**open_rv_24m**: Number of revolving trades opened in the past 24 months

**max_bal_bc**: Maximum current balance owed on all revolving accounts

**all_util**: Balance to credit limit on all trades

**total_rev_hi_lim**: Total revolving high credit/credit limit

**inq_fi**: Number of personal finance inquiries

**total_cu_tl**: Number of finance trades

**inq_last_12m**: Number of credit inquiries in the past 12 months

**acc_now_delinq**: The number of accounts on which the borrower is now delinquent.

**tot_coll_amt**: Total collection amounts ever owed

**tot_cur_bal**: Total current balance of all accounts

*Employer Title replaces Employer Name for all loans listed after 9/23/2013*

- At a glance, there are some **variables** that can drive **valuable insights** about **credit risk** in Lending Club's operations:
    - Most of the demographical variables: addr_state, annual_inc, emp_length, home_ownership.
    - From the financial variables: dti, revol_bal, revol_util, tot_cur_bal, total_rev_hi_lim, total_acc.
    - From the credit and risk variables: delinq_2yrs, recoveries, out_prncp, total_rec_prncp, grade, inq_last_6_months and 12m, funded_amnt, int_rate and term.
    - From time-related and other variables: issue_d, purpose.

#### 1.3 General information
- I will assess general information about the data, such as dimensions, features data types, null and duplicated values, and so on in order to initially see some possible problems that will require data cleaning and gather more information about the data I am dealing with.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0                   int64
 1   id                           int64
 2   member_id                    int64
 3   loan_amnt                    int64
 4   funded_amnt                  int64
 5   funded_amnt_inv              float64
 6   term                         object
 7   int_rate                     float64
 8   installment                  float64
 9   grade                        object
 10  sub_grade                    object
 11  emp_title                    object
 12  emp_length                   object
 13  home_ownership               object
 14  annual_inc                   float64
 15  verification_status          object
 16  issue_d                      object
 17  loan_status                  object
 18  pymnt_plan                   object
 19  url                          object
 20  desc                         object
 21  purpose                      object
 22  title                        object
 23  zip_code                     object
 24  addr_state                   object
 25  dti                          float64
 26  delinq_2yrs                  float64
 27  earliest_cr_line             object
 28  inq_last_6mths               float64
 29  mths_since_last_delinq       float64
 30  mths_since_last_record       float64
 31  open_acc                     float64
 32  pub_rec                      float64
 33  revol_bal                    int64
 34  revol_util                   float64
 35  total_acc                    float64
 36  initial_list_status          object
 37  out_prncp                    float64
 38  out_prncp_inv                float64
 39  total_pymnt                  float64
 40  total_pymnt_inv              float64
 41  total_rec_prncp              float64
 42  total_rec_int                float64
 43  total_rec_late_fee           float64
 44  recoveries                   float64
 45  collection_recovery_fee      float64
 46  last_pymnt_d                 object
 47  last_pymnt_amnt              float64
 48  next_pymnt_d                 object
 49  last_credit_pull_d           object
 50  collections_12_mths_ex_med   float64
 51  mths_since_last_major_derog  float64
 52  policy_code                  int64
 53  application_type             object
 54  annual_inc_joint             float64
 55  dti_joint                    float64
 56  verification_status_joint    float64
 57  acc_now_delinq               float64
 58  tot_coll_amt                 float64
 59  tot_cur_bal                  float64
 60  open_acc_6m                  float64
 61  open_il_6m                   float64
 62  open_il_12m                  float64
 63  open_il_24m                  float64
 64  mths_since_rcnt_il           float64
 65  total_bal_il                 float64
 66  il_util                      float64
 67  open_rv_12m                  float64
 68  open_rv_24m                  float64
 69  max_bal_bc                   float64
 70  all_util                     float64
 71  total_rev_hi_lim             float64
 72  inq_fi                       float64
 73  total_cu_tl                  float64
 74  inq_last_12m                 float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [10]:
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns.')

The dataset has 466285 rows and 75 columns.

- At a glance, **some variables can be removed.** This include variables with an unique value per observation, like the ids, for example.
- **Some variables are in the incorrect data type** and must be converted to the correct one. It is the case of term and emp_length, which must be converted from object to int. Moreover, issue_d and earliest_cr_line must be converted from object to datetime format, because they are date-related features.

#### 1.4 Missing and Duplicate values
- I will assess the missing values distributions across the variables in order to investigate their motivation and treat them here or not. The same for duplicate values.

In [11]:
missing_df = df.isna().sum().to_frame().rename(columns={0: 'count'}).sort_values(by=['count'], ascending=False)
missing_df['pct'] = round(missing_df['count'] / df.shape[0] * 100, 3)
missing_df

                              count      pct
inq_last_12m                 466285  100.000
total_bal_il                 466285  100.000
dti_joint                    466285  100.000
verification_status_joint    466285  100.000
annual_inc_joint             466285  100.000
open_acc_6m                  466285  100.000
open_il_6m                   466285  100.000
open_il_12m                  466285  100.000
open_il_24m                  466285  100.000
mths_since_rcnt_il           466285  100.000
il_util                      466285  100.000
open_rv_24m                  466285  100.000
total_cu_tl                  466285  100.000
inq_fi                       466285  100.000
max_bal_bc                   466285  100.000
all_util                     466285  100.000
open_rv_12m                  466285  100.000
mths_since_last_record       403647   86.567
mths_since_last_major_derog  367311   78.774
desc                         340304   72.982
mths_since_last_delinq       250351   53.691
next_pymnt_d                 227214   48.729
tot_cur_bal                   70276   15.071
tot_coll_amt                  70276   15.071
total_rev_hi_lim              70276   15.071
emp_title                     27588    5.917
emp_length                    21008    4.505
last_pymnt_d                    376    0.081
revol_util                      340    0.073
collections_12_mths_ex_med      145    0.031
last_credit_pull_d               42    0.009
inq_last_6mths                   29    0.006
earliest_cr_line                 29    0.006
delinq_2yrs                      29    0.006
open_acc                         29    0.006
pub_rec                          29    0.006
acc_now_delinq                   29    0.006
total_acc                        29    0.006
title                            21    0.005
annual_inc                        4    0.001
application_type                  0    0.000
policy_code                       0    0.000
collection_recovery_fee           0    0.000
last_pymnt_amnt                   0    0.000
Unnamed: 0                        0    0.000
recoveries                        0    0.000
total_rec_late_fee                0    0.000
member_id                         0    0.000
loan_amnt                         0    0.000
funded_amnt                       0    0.000
funded_amnt_inv                   0    0.000
term                              0    0.000
int_rate                          0    0.000
installment                       0    0.000
grade                             0    0.000
sub_grade                         0    0.000
home_ownership                    0    0.000
verification_status               0    0.000
issue_d                           0    0.000
loan_status                       0    0.000
pymnt_plan                        0    0.000
url                               0    0.000
purpose                           0    0.000
zip_code                          0    0.000
addr_state                        0    0.000
dti                               0    0.000
revol_bal                         0    0.000
initial_list_status               0    0.000
id                                0    0.000
out_prncp_inv                     0    0.000
total_pymnt                       0    0.000
total_pymnt_inv                   0    0.000
total_rec_prncp                   0    0.000
total_rec_int                     0    0.000
out_prncp                         0    0.000

In [12]:
df.duplicated().sum()

0

- There are not duplicated values in the data.
- It is possible to see that there are a lot of variables with a 100% of missings. These are not useful for anything and will be removed.
- I will stablish a 70% cut-off to remove variables with missing values. That is, if the variable has 70% or higher missing rate, it will be removed. This is because imputing them could introduce some bias.
- For the other features, I will investigate the missing values occurrence and decide whether to keep them or not. 
- If the **pattern of missing values is not random**, meaning that the occurrence of missing values varies between good and bad loans, for example, if there are proportionally more missing values in bad loans, it is advisable to treat it as a category within the feature. The absence of information from the applicant could be related to their intention to repay or not repay their debt.
- In case the **pattern of missing values is random, we can:**
    - **Remove these observations**, in case we have a big sample of applicant data (and we have!) and their frequency is really low.
    - **Exclude variables with an excessive number of missing values** (which we already considered doing).
    - **Keep the missing as one of the categories of the variable, like "unknown"**. It will have a weight in the final scoring formula.
    - **Impute values**. Utilizing mean, median, mode or even inferring it from another variable highly linearly correlated with the variable with missings are possible alternatives.
- The occurrence of **missing values** might be due to different **reasons**, like:
    - The applicant didn't gave this information.
    - The given information was not registered.
    - The given information does not match with any of the expected codes or values for that variable, then, it was registered as a missing. This is pretty common in occupation, where some abbreviations come.
    - The missing is, in reality, zero.
- Let's **investigate the missing values in relevant features below.**

In [13]:
# Observing the whole data loan_status distribution to compare with missing values distributions of this target variable.
df['loan_status'].value_counts(normalize=True) * 100

loan_status
Current                                                48.087757
Fully Paid                                             39.619332
Charged Off                                             9.109236
Late (31-120 days)                                      1.479782
In Grace Period                                         0.674695
Does not meet the credit policy. Status:Fully Paid      0.426349
Late (16-30 days)                                       0.261214
Default                                                 0.178432
Does not meet the credit policy. Status:Charged Off     0.163205
Name: proportion, dtype: float64

In [14]:
# Investigate missing values in annual income.
df.loc[df['annual_inc'].isna()].sample(3)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
47,42533,71623,70735,6500,6500,0.0,36 months,8.38,204.84,A,A5,NaN,< 1 year,NONE,NaN,Not Verified,Jun-07,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,"Hi, I'm buying a used car. Anybody on faceb...",other,Buying a car,100xx,NY,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,7373.83,0.00,6500.0,873.83,0.0,0.0,0.0,Jun-10,205.32,Jul-10,Aug-07,NaN,NaN,1,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,42449,79967,79912,5000,5000,3025.0,36 months,7.43,155.38,A,A2,NaN,< 1 year,NONE,NaN,Not Verified,Aug-07,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,I will be relocating to Boston next month and ...,other,Moving expenses,100xx,NY,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,5593.46,3384.01,5000.0,593.46,0.0,0.0,0.0,Aug-10,157.31,Sep-10,May-07,NaN,NaN,1,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,42480,79893,79878,6700,6700,6700.0,36 months,7.75,209.18,A,A3,NaN,< 1 year,NONE,NaN,Not Verified,Jul-07,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,I am moving to Florida and would like to borro...,other,Moving expenses and security deposit,100xx,NY,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,7530.42,7530.42,6700.0,830.42,0.0,0.0,0.0,Jul-10,209.89,Aug-10,May-07,NaN,NaN,1,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Investigate missing values in total_acc.
df.loc[df['total_acc'].isna()].sample(3)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
47,42533,71623,70735,6500,6500,0.0,36 months,8.38,204.84,A,A5,NaN,< 1 year,NONE,NaN,Not Verified,Jun-07,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,"Hi, I'm buying a used car. Anybody on faceb...",other,Buying a car,100xx,NY,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,7373.83,0.00,6500.0,873.83,0.0,0.0,0.0,Jun-10,205.32,Jul-10,Aug-07,NaN,NaN,1,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,42517,85675,85667,1000,1000,625.0,36 months,14.07,34.21,E,E3,Macy's,10+ years,RENT,25000.0,Not Verified,Jun-07,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,I have been working hard over the last few yea...,other,Paying down high interest credit cards,080xx,NJ,16.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,1231.38,769.59,1000.0,231.38,0.0,0.0,0.0,Jun-10,35.27,Jul-10,Jun-10,NaN,NaN,1,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,42514,85961,85923,1200,1200,500.0,36 months,9.01,38.17,B,B2,Classic Components,< 1 year,RENT,36000.0,Not Verified,Jun-07,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,I am one month away from starting my new job i...,other,College Debt Consolidation,787xx,TX,3.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,f,0.0,0.0,1373.88,572.45,1200.0,173.88,0.0,0.0,0.0,Jul-10,39.05,Jul-10,Jan-16,NaN,NaN,1,INDIVIDUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# Assess missing values loan_status distribution in emp_length to see whether their occurrence is at random.
df.loc[df['emp_length'].isna(), 'loan_status'].value_counts(normalize=True)

loan_status
Current                                                0.556026
Fully Paid                                             0.302313
Charged Off                                            0.110529
Late (31-120 days)                                     0.019088
In Grace Period                                        0.004855
Late (16-30 days)                                      0.003284
Default                                                0.002285
Does not meet the credit policy. Status:Fully Paid     0.000904
Does not meet the credit policy. Status:Charged Off    0.000714
Name: proportion, dtype: float64

In [17]:
# Investigate missing values in emp_length.
df.loc[df['emp_length'].isna()].sample(5)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
220635,54674,9187305,11019299,11700,11700,11700.0,36 months,19.20,430.06,D,D3,NaN,NaN,MORTGAGE,50000.0,Verified,Dec-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,947xx,CA,15.00,0.0,Sep-05,0.0,73.0,105.0,12.0,1.0,4802,56.5,19.0,f,0.0,0.0,13238.313580,13238.31,11700.0,1538.31,0.0,0.0,0.0,Sep-14,9800.73,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,258335.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN
51296,222669,1200483,1441691,1200,1200,1200.0,36 months,13.99,41.01,C,C1,NaN,NaN,OWN,34000.0,Not Verified,Mar-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 03/20/12 > I need the extr...,debt_consolidation,"1,200 pay off",993xx,WA,10.76,0.0,Sep-06,0.0,NaN,NaN,4.0,0.0,12690,85.2,6.0,f,0.0,0.0,1475.462514,1475.46,1200.0,275.46,0.0,0.0,0.0,Feb-15,126.31,NaN,Feb-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361103,336081,22243958,24566598,27000,27000,27000.0,36 months,18.24,979.37,D,D5,NaN,NaN,OWN,120000.0,Verified,Aug-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,337xx,FL,5.47,0.0,May-05,1.0,NaN,NaN,13.0,0.0,15152,60.4,16.0,w,16057.0,16057.0,16649.290000,16649.29,10943.0,5706.29,0.0,0.0,0.0,Jan-16,979.37,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,15939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25100.0,NaN,NaN,NaN
136405,139475,5039205,6341574,4000,4000,4000.0,36 months,16.29,141.21,C,C4,NaN,NaN,MORTGAGE,47000.0,Source Verified,May-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 05/07/13 > My loan is to p...,debt_consolidation,Debt consolidation,274xx,NC,18.79,0.0,Apr-94,0.0,28.0,NaN,9.0,0.0,5787,80.4,31.0,f,0.0,0.0,5046.560000,5046.56,4000.0,1046.56,0.0,0.0,0.0,Dec-15,951.47,NaN,Dec-15,0.0,28.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,162.0,68604.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7200.0,NaN,NaN,NaN
275621,423865,12917490,14949688,22000,22000,22000.0,36 months,8.90,698.58,A,A5,NaN,NaN,MORTGAGE,80000.0,Source Verified,Mar-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 03/17/14 > credy card payo...,credit_card,Credit card refinancing,161xx,PA,9.33,0.0,Feb-93,2.0,NaN,NaN,21.0,0.0,19963,35.5,62.0,f,9881.9,9881.9,14670.180000,14670.18,12118.1,2552.08,0.0,0.0,0.0,Dec-15,698.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,139577.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56200.0,NaN,NaN,NaN

In [18]:
# Investigate missing values in total current balance, collection amount, and credit limit.
df.loc[df[['tot_cur_bal', 'tot_coll_amt', 'total_rev_hi_lim']].isna().any(axis=1)].sample(3)

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
13001,29088,528607,683637,24000,24000,23308.0163,60 months,16.32,587.73,D,D5,CITIZENS INVESTMENT SERVICES,3 years,MORTGAGE,132000.0,Verified,Jun-10,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 06/09/10 > I will be using...,small_business,BOB'S BUSINESS LOAN,173xx,PA,12.67,0.0,Aug-95,1.0,NaN,87.0,8.0,1.0,4489,41.6,24.0,f,0.0,0.0,25269.470000,23744.56,13775.33,10053.11,0.0,1441.03,14.4103,Nov-13,1206.00,NaN,Apr-14,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50592,222405,1189988,1430918,6600,6600,6600.0000,36 months,6.62,202.65,A,A2,Antelope Valley College,8 years,MORTGAGE,43000.0,Source Verified,Mar-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 03/21/12 > I have lived in...,home_improvement,home improvement,935xx,CA,17.89,0.0,Jul-94,1.0,NaN,NaN,8.0,0.0,765,10.1,14.0,f,0.0,0.0,7292.933067,7292.93,6600.00,692.93,0.0,0.00,0.0000,Apr-15,217.34,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46607,227155,1125717,1363960,15000,15000,14975.0000,36 months,14.65,517.42,C,C3,GSI Commerce,2 years,RENT,98000.0,Verified,Feb-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 01/28/12 > Catching up aft...,credit_card,CCRefi,329xx,FL,12.27,0.0,Dec-99,1.0,NaN,NaN,10.0,0.0,18625,62.3,13.0,f,0.0,0.0,18620.018930,18588.99,15000.00,3620.02,0.0,0.00,0.0000,Feb-15,536.96,NaN,Feb-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.loc[df[['tot_cur_bal', 'tot_coll_amt', 'total_rev_hi_lim']].isna().any(axis=1), 'loan_status'].value_counts(normalize=True) * 100

loan_status
Fully Paid                                             76.397348
Charged Off                                            14.256645
Current                                                 5.104161
Does not meet the credit policy. Status:Fully Paid      2.828846
Does not meet the credit policy. Status:Charged Off     1.082873
Late (31-120 days)                                      0.172178
In Grace Period                                         0.093915
Late (16-30 days)                                       0.038420
Default                                                 0.025613
Name: proportion, dtype: float64

- A lot of variables containing missings represent features that will not be available at the time of prediction and thus will not be investigated/treated because they will not be included in the modeling task to prevent data leakage.
- While it's generally not recommended, in this case, null values in annual_inc, total_acc, acc_now_delinq, pub_rec, open_acc, delinq_2yrs, earliest_cr_line and inq_last_6mths make up a tiny part of the data (29 records, less than 0.0001%). Since I have a large sample size, I've decided to simply remove these observations. This simplifies our data processing, reduces the need for imputation or other treatments for missing values, and won't affect the results due to the substantial size of the dataset.
- There is no discernible pattern in the default/non-default distributions related to missing values in the 'emp_length' variable. Moreover, we can reasonably assume that these instances correspond to consumers without professional experience. As a result, we will substitute these missing values with 0.
- For tot_cur_bal and total_rev_hi_lim, it might be interesting to consider these missing observations as another category of these variables. This is because the default rate is higher within this missings. It is possible to see that charged-off loans make up more than 15% of these observations, while for the whole data it is about 11%.
- All the treatments will be made in the data cleaning topic.

#### 1.5 Numerical and Categorical features
- I'll check which numerical and categorical variables are in the data. This helps me separate them and check how many different categories there are in the categorical features. The number of categories is important because it affects how we encode the data. If there are too many categories, using one-hot encoding can make the data dimensionality too big. This can be a problem. Also, I'll see if a variable is helpful or not. Sometimes, variables have too many categories and don't really help the model. In that case, we might need to remove them from the analysis.

In [20]:
# Assess which are the numerical and categorical features.
numerical_features = df.select_dtypes('number').columns.tolist()
categorical_features = df.select_dtypes('object').columns.tolist()
print(f'There are {len(numerical_features)} numerical variables in the data. They are: {numerical_features}.')
print(f'There are {len(categorical_features)} categorical variables in the data. They are: {categorical_features}.')

There are 53 numerical variables in the data. They are: ['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'].
There are 22 categorical variables in the data. They are: ['term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'application_type'].

In [21]:
# Assess categorical features cardinality.
'''
for feature in categorical_features:
    print(f'{feature} - cardinality = {df[feature].nunique()}')
    print()
    print(df[feature].unique())
    print('-' * 100)
'''

"\nfor feature in categorical_features:\n    print(f'{feature} - cardinality = {df[feature].nunique()}')\n    print()\n    print(df[feature].unique())\n    print('-' * 100)\n"

In [22]:
# Assess pymnt_plan distribution in order to see whether there is imbalancement.
df['pymnt_plan'].value_counts(normalize=True)

pymnt_plan
n    0.999981
y    0.000019
Name: proportion, dtype: float64

In [23]:
# Assess initial_list_status distribution in order to see whether there is imbalancement.
df['initial_list_status'].value_counts(normalize=True)

initial_list_status
f    0.649828
w    0.350172
Name: proportion, dtype: float64

In [24]:
# Assess policy_code distribution in order to see whether there is imbalancement.
df['policy_code'].value_counts(normalize=True)

policy_code
1    1.0
Name: proportion, dtype: float64

#### 1.6 Data Cleaning and Feature Engineering
- I will apply an initial **data cleaning**, including the following tasks:
    - **Treat missing values:**
        - Null values in annual_inc, total_acc, acc_now_delinq, pub_rec, open_acc, delinq_2yrs, earliest_cr_line and inq_last_6mths make up a tiny part of the data (29 records, less than 0.0001%). Since I have a large sample size, I've decided to simply remove these observations. This simplifies our data processing, reduces the need for imputation or other treatments for missing values, and won't affect the results due to the substantial size of the dataset.
        - There is no discernible pattern in the default/non-default distributions related to missing values in the emp_length variable. Moreover, we can reasonably assume that these instances correspond to consumers without professional experience. As a result, we will substitute these missing values with 0.
    - **Remove irrelevant variables:**
        - ids, url, desc, next_pymnt_d, last_pymnt_d and last_credit_pull_d will be removed because they are unuseful for the modeling or the analysis.
        - funded_amnt_inv, total_pymnt_inv, out_prncp_inv will be removed because their information is already contained in funded_amnt, total_pymnt and out_prncp.
        - application_type, pymnt_plan and policy_code will be removed because they are almost constant or constant, presenting no variance.
        - zip_code, emp_title and title will be removed becasuse they present excessive cardinality.
        - Variables with a missing rate higher than 70% will be removed in order to avoid bias.
        - As mentioned above, variables like funded_amnt will not be available at the moment of prediction (production env) and thus will be removed to prevent from data leakage. However, once they can present valuable insights about credit risk in Lending Club's operations, and some will be used to construct EAD and LGD targets, I will do this in the data preprocessing step, after exploring them.
    - **Convert variables to the correct data types:**
        - Convert term and emp_length from object to int data type.
        - Convert date related features from object to datetime data type. Considering that some features contain dates around 2016 and 2017, I will use 2017-12-01 as the current date for this feature extraction.
- From the features I have, I will try to **extract new features**, obtaining the maximum amount of information from the available variables.
    - **default:** This will be our **target** variable for the **PD Model**, indicating whether the consumer defaulted (0) or not (1). I will choose different loan_status categories to insert in default/non-default.
        - I won't consider the grace period or late payments between 16 and 30 days in my definition of defaults. This is because, for customers falling into these categories, there's still a good chance they will repay their loans. It's too soon to label them as defaulters.
        - I chose to represent non-defaulters as 1 and defaulters as 0. This is because, when interpreting our model, I want the coefficients to reflect a negative impact for defaulters, resulting in lower values. The same is true for the scores.
    - **recovery_rate:** This will be our **target** variable for the **LGD Model**. Although LGD is defined as the proportion of the total exposure that cannot be recovered by the lender when the borrower defaults, a common and stablished approach when modeling it is to estimate the proportion of the total exposure that CAN be recovered by the lender, once the default has occurred, the Recovery Rate. Thus, **LGD = 1 - Recovery Rate.**
    - **credit_conversion_factor:** This will be our **target** variable for the **EAD Model.** Although EAD is defined as the total value that a lender is exposed to when the borrower defaults, a common and stablised approach when modeling it is to estimate the outstanding proportion of the funded amount when default event occurs, the Credit Conversion Factor. Thus, **EAD = Total Funded Amount * Credit Conversion Factor.**
    - mths_since_earliest_cr_line: Self explanatory. It is interesting for us to obtain a numerical variable indicating the number of months since the earliest credit line.

In [25]:
# Create a copy to saveguard the original data.
clean_df = df.copy()

In [26]:
# Remove irrelevant variables.
to_drop_missing = missing_df.loc[missing_df['pct'] >= 70].index.tolist()
to_drop_irrelevant = ['id', 'member_id', 'url', 
                      'Unnamed: 0', 'next_pymnt_d', 
                      'application_type', 'pymnt_plan', 
                      'policy_code', 'zip_code', 'title',
                      'emp_title', 'last_pymnt_d', 'last_credit_pull_d',
                      'funded_amnt_inv', 'total_pymnt_inv', 'out_prncp_inv']
to_drop = to_drop_missing + to_drop_irrelevant
clean_df = clean_df.drop(columns=to_drop)
clean_df.columns

Index(['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'total_pymnt', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'], dtype='object')

In [27]:
# Treat missing values.
to_drop_missings = ['annual_inc', 'total_acc', 'acc_now_delinq', 'pub_rec', 'open_acc', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths']
clean_df = clean_df.dropna(subset=to_drop_missings)
clean_df['emp_length'] = clean_df['emp_length'].fillna('0 years')
clean_df.shape

(466256, 39)

In [28]:
# Convert variables to the correct data type.
clean_df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [29]:
# Convert term variable to int format.
clean_df['term'] = clean_df['term'].apply(lambda x: int(x[1:3]))
clean_df['term'].unique(), clean_df.term.dtype

(array([36, 60], dtype=int64), dtype('int64'))

In [30]:
# Assess emp_length unique values to correct the data type.
clean_df['emp_length'].unique()

array(['< 1 year', '10+ years', '1 year', '6 years', '9 years', '3 years',
       '5 years', '7 years', '8 years', '2 years', '4 years', '0 years'],
      dtype=object)

In [31]:
# Convert emp_length to float format because of the missing values.
clean_df['emp_length'] = clean_df['emp_length'].str.replace('+', '')
clean_df['emp_length'] = clean_df['emp_length'].str.replace('< 1 year', '0')
clean_df['emp_length'] = clean_df['emp_length'].str.replace(' years', '')
clean_df['emp_length'] = clean_df['emp_length'].str.replace(' year', '')
clean_df['emp_length'] = clean_df['emp_length'].astype('int')
clean_df['emp_length'].unique()

array([ 0, 10,  1,  6,  9,  3,  5,  7,  8,  2,  4])

In [32]:
# Assess some earliest_cr_line values to correct the data type.
clean_df['earliest_cr_line'].head()

0    Feb-94
1    Aug-01
2    Oct-00
3    Jul-88
4    Jun-00
Name: earliest_cr_line, dtype: object

In [33]:
# Convert earlist_cr_line to datetime format.
clean_df['earliest_cr_line'] = pd.to_datetime(clean_df['earliest_cr_line'], format='%b-%y')
clean_df['earliest_cr_line'].head()

0   1994-02-01
1   2001-08-01
2   2000-10-01
3   1988-07-01
4   2000-06-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [34]:
# Assess some issue_d values to correct the data type.
clean_df['issue_d'].head()

0    Aug-09
1    Jul-08
2    May-08
3    Apr-08
4    Aug-14
Name: issue_d, dtype: object

In [35]:
# Convert issue_d to datetime format.
clean_df['issue_d'] = pd.to_datetime(clean_df['issue_d'], format='%b-%y')
clean_df['issue_d'].head()

0   2009-08-01
1   2008-07-01
2   2008-05-01
3   2008-04-01
4   2014-08-01
Name: issue_d, dtype: datetime64[ns]

In [36]:
# Extract new features
CURR_DATE = pd.to_datetime('2017-12-01')

# Extract mths_since_earliest_cr_line variable.
clean_df['mths_since_earliest_cr_line'] = round((CURR_DATE - clean_df['earliest_cr_line']) / np.timedelta64(1, 'M'))

In [37]:
# Assess loan_status categories to determine which of them will fall into my default definition.
clean_df['loan_status'].value_counts(normalize=True)

loan_status
Current                                                0.480907
Fully Paid                                             0.396218
Charged Off                                            0.091098
Late (31-120 days)                                     0.014799
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004208
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001626
Name: proportion, dtype: float64

In [38]:
# Extract the target variable for the PD Model, default.
clean_df['default'] = np.where(clean_df['loan_status'].isin(['Charged Off', 
                                                             'Late (31-120 days)',
                                                             'Does not meet the credit policy. Status:Charged Off', 
                                                             'Default']), 0, 1)
clean_df['default'].value_counts(normalize=True)

default
1    0.890693
0    0.109307
Name: proportion, dtype: float64

- We can see the default rate is currently about 11%. This is a high proportion and motivates our project.

In [39]:
# Extract the target variable for the LGD Model, recovery_rate.
clean_df['recovery_rate'] = clean_df['recoveries'] / clean_df['funded_amnt']
clean_df['recovery_rate'].describe()

count    466256.000000
mean          0.005637
std           0.032501
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.220774
Name: recovery_rate, dtype: float64

- We can see more than 75% of the data present a 0 recovery rate. This is expected, since recoveries are obtained only when a borrower defaults. Moreover, there are inconsistent values with a recovery rate higher than 1. I will replace this values with 1, representing a 100% recovery rate.

In [40]:
# Extract the target variable for the EAD Model, credit_conversion_factor.
clean_df['credit_conversion_factor'] = (clean_df['funded_amnt'] - clean_df['total_rec_prncp']) / clean_df['funded_amnt']

In [41]:
clean_df['credit_conversion_factor'].describe()

count    466256.000000
mean          0.344862
std           0.327626
min          -0.021734
25%           0.000000
50%           0.347635
75%           0.644020
max           1.000000
Name: credit_conversion_factor, dtype: float64

- We can see there are inconsistent values with a credit conversion factor lower than 0. I will replace this values with 0, representing no credit conversion.

In [42]:
# Fix recovery_rate inconsistent values.
clean_df.loc[clean_df['recovery_rate'] > 1, 'recovery_rate'] = 1

# Fix credit_conversion inconsistent values.
clean_df.loc[clean_df['credit_conversion_factor'] < 0, 'credit_conversion_factor'] = 0

#### 1.7 Descriptive Statistics
- I will assess some **descriptive statistics** of the variables in order to initially **observe inconsistent information (when looking at minimum and maximum values)**, diagnose possible **outliers** and obtain initial simpler insights about the features distributions.

In [43]:
clean_df.describe().T

                                count                           mean                  min                  25%                  50%                  75%                  max            std
loan_amnt                    466256.0                   14317.925292                500.0               8000.0              12000.0              20000.0              35000.0    8286.339281
funded_amnt                  466256.0                   14292.451733                500.0               8000.0              12000.0              20000.0              35000.0    8274.197912
term                         466256.0                      42.605744                 36.0                 36.0                 36.0                 60.0                 60.0      10.719247
int_rate                     466256.0                      13.829513                 5.42                10.99                13.66                16.49                26.06       4.357561
installment                  466256.0                     432.080469                15.67               256.76              379.915               566.62              1409.99     243.480184
emp_length                   466256.0                       5.723542                  0.0                  2.0                  6.0                 10.0                 10.0       3.755987
annual_inc                   466256.0                   73277.492591               1896.0              45000.0              63000.0              88951.5            7500000.0   54963.005323
issue_d                        466256  2013-08-23 18:56:11.085412096  2007-06-01 00:00:00  2013-03-01 00:00:00  2014-01-01 00:00:00  2014-07-01 00:00:00  2014-12-01 00:00:00            NaN
dti                          466256.0                      17.219347                  0.0                11.36                16.87                22.78                39.99       7.850929
delinq_2yrs                  466256.0                       0.284678                  0.0                  0.0                  0.0                  0.0                 29.0       0.797365
earliest_cr_line               466256  1997-12-16 11:57:43.058920448  1969-01-01 00:00:00  1994-03-01 00:00:00  1999-03-01 00:00:00  2002-09-01 00:00:00  2068-12-01 00:00:00            NaN
inq_last_6mths               466256.0                       0.804745                  0.0                  0.0                  0.0                  1.0                 33.0       1.091598
mths_since_last_delinq       215934.0                       34.10443                  0.0                 16.0                 31.0                 49.0                188.0      21.778487
open_acc                     466256.0                      11.187069                  0.0                  8.0                 10.0                 14.0                 84.0       4.987526
pub_rec                      466256.0                       0.160564                  0.0                  0.0                  0.0                  0.0                 63.0       0.510863
revol_bal                    466256.0                   16231.212967                  0.0               6414.0              11765.0              20333.0            2568995.0   20676.491928
revol_util                   465945.0                      56.176947                  0.0                 39.2                 57.6                 74.7                892.3      23.732628
total_acc                    466256.0                       25.06443                  1.0                 17.0                 23.0                 32.0                156.0      11.600141
out_prncp                    466256.0                    4410.336638                  0.0                  0.0               443.19             7341.995             32160.38    6355.181225
total_pymnt                  466256.0                   11541.137432                  0.0             5552.615              9419.88            15308.735          57777.57987    8265.661898
total_rec_prncp              466256.0                    8866.341344                  0.0              3708.92              6817.89              12000.0             35000.03    7031.761398
total_rec_int                466256.0                     2588.80924                  0.0               957.47             1819.015            3304.6525             24205.62    2483.829425
total_rec_late_fee           466256.0                       0.649769                  0.0                  0.0                  0.0                  0.0               358.68       5.262683
recoveries                   466256.0                      85.337081                  0.0                  0.0                  0.0                  0.0             33520.27       552.1867
collection_recovery_fee      466256.0                       8.957759                  0.0                  0.0                  0.0                  0.0              7002.19       85.45648
last_pymnt_amnt              466256.0                    3124.095683                  0.0               312.62               545.96            3188.4325             36234.44    5554.861293
collections_12_mths_ex_med   466140.0                       0.009085                  0.0                  0.0                  0.0                  0.0                 20.0       0.108648
acc_now_delinq               466256.0                       0.004002                  0.0                  0.0                  0.0                  0.0                  5.0       0.068637
tot_coll_amt                 396009.0                     191.913517                  0.0                  0.0                  0.0                  0.0            9152545.0   14630.214605
tot_cur_bal                  396009.0                  138801.713385                  0.0              28618.0              81539.0             208953.0            8000078.0  152114.663494
total_rev_hi_lim             396009.0                   30379.087771                  0.0              13500.0              22800.0              37900.0            9999999.0   37247.129571
mths_since_earliest_cr_line  466256.0                     235.142031               -601.0                180.0                221.0                280.0                576.0       92.27001
default                      466256.0                       0.890693                  0.0                  1.0                  1.0                  1.0                  1.0       0.312024
recovery_rate                466256.0                       0.005632                  0.0                  0.0                  0.0                  0.0                  1.0       0.032347
credit_conversion_factor     466256.0                       0.344862                  0.0                  0.0             0.347635              0.64402                  1.0       0.327626

- It is possible to observe that there are some inconsistent outlier values in mths_since_earliest_cr_line with negative time delta.
- I will investigate and decide whether to treat or not these outliers below.

In [44]:
# Obtain a sample to observe inconsistent values.
clean_df.loc[clean_df['mths_since_earliest_cr_line'] < 0, ['mths_since_earliest_cr_line', 'earliest_cr_line']].sample(5)

        mths_since_earliest_cr_line earliest_cr_line
355012                       -568.0       2066-03-01
445614                       -571.0       2066-06-01
417458                       -598.0       2068-09-01
155727                       -582.0       2067-05-01
429995                       -519.0       2062-01-01

- It is possible to see that the negative time delta records occur because when converting earliest_cr_line to datetime format, the function interpreted lower than 70 dates as 20's dates and not 90's dates. To handle this, I will impute these negative dates with the maximum timedelta in mths_since_earliest_cr_line, in order to preserve the same information - "A lot of months since earliest credit line".

In [45]:
max_mths_since_earliest_cr_line = clean_df['mths_since_earliest_cr_line'].max()
clean_df.loc[clean_df['mths_since_earliest_cr_line'] < 0, 'mths_since_earliest_cr_line'] = max_mths_since_earliest_cr_line
clean_df['mths_since_earliest_cr_line'].describe().T

count    466256.000000
mean        237.991325
std          84.889238
min          72.000000
25%         181.000000
50%         222.000000
75%         280.000000
max         576.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [46]:
# Drop date variables after useful variables were extracted from them.
to_drop = ['earliest_cr_line']
clean_df = clean_df.drop(columns=to_drop)

#### 1.8 Memory Optimization
- Finally, I will perform **memory optimization.** Most of the variables can be converted to **smaller data types** in terms of memory consumption. For example, int8 can represent variables with values inside the range of -127 to 128 without losing any information, **saving** a lot of **memory**. For **object** features, **category** data type will achieve the same result. This task will turn the modelling and data exploration steps faster and more efficient.
- Considering csv files don't keep the converted data types, I will convert the optimized data to a **parquet file**. This will **keep** the lower memory consumption **data types** we set, giving us an optimal data in terms of fast exploration and modeling.

In [47]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 466256 entries, 0 to 466284
Data columns (total 42 columns):
 #   Column                       Dtype
---  ------                       -----
 0   loan_amnt                    int64
 1   funded_amnt                  int64
 2   term                         int64
 3   int_rate                     float64
 4   installment                  float64
 5   grade                        object
 6   sub_grade                    object
 7   emp_length                   int32
 8   home_ownership               object
 9   annual_inc                   float64
 10  verification_status          object
 11  issue_d                      datetime64[ns]
 12  loan_status                  object
 13  purpose                      object
 14  addr_state                   object
 15  dti                          float64
 16  delinq_2yrs                  float64
 17  inq_last_6mths               float64
 18  mths_since_last_delinq       float64
 19  open_acc                     float64
 20  pub_rec                      float64
 21  revol_bal                    int64
 22  revol_util                   float64
 23  total_acc                    float64
 24  initial_list_status          object
 25  out_prncp                    float64
 26  total_pymnt                  float64
 27  total_rec_prncp              float64
 28  total_rec_int                float64
 29  total_rec_late_fee           float64
 30  recoveries                   float64
 31  collection_recovery_fee      float64
 32  last_pymnt_amnt              float64
 33  collections_12_mths_ex_med   float64
 34  acc_now_delinq               float64
 35  tot_coll_amt                 float64
 36  tot_cur_bal                  float64
 37  total_rev_hi_lim             float64
 38  mths_since_earliest_cr_line  float64
 39  default                      int32
 40  recovery_rate                float64
 41  credit_conversion_factor     float64
dtypes: datetime64[ns](1), float64(27), int32(2), int64(4), object(8)
memory usage: 149.4+ MB

In [48]:
# Define which columns will be converted to the respective lower momery consumption data types lists.
to_float32 = ['installment', 'annual_inc', 'dti', 'int_rate',
              'out_prncp', 'total_pymnt', 'total_rec_prncp', 
              'total_rec_int', 'total_rec_late_fee', 'recoveries',
              'collection_recovery_fee', 'last_pymnt_amnt', 'revol_util',
              'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
              'mths_since_last_delinq', 'collections_12_mths_ex_med',
              'recovery_rate', 'credit_conversion_factor']
to_int8 = ['default', 'term']
to_int16 = ['delinq_2yrs', 'inq_last_6mths', 'open_acc',
            'pub_rec', 'total_acc', 'acc_now_delinq',
            'emp_length', 'mths_since_earliest_cr_line']
to_int32 = ['loan_amnt', 'funded_amnt']
to_int64 = ['revol_bal']
to_category = clean_df.select_dtypes('object').columns.tolist()

In [49]:
# Optimize memory.
clean_df[to_float32] = clean_df[to_float32].astype('float32')
clean_df[to_int8] = clean_df[to_int8].astype('int8')
clean_df[to_int16] = clean_df[to_int16].astype('int16')
clean_df[to_int32] = clean_df[to_int32].astype('int32')
clean_df[to_int64] = clean_df[to_int64].astype('int64')
clean_df[to_category] = clean_df[to_category].astype('category')
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 466256 entries, 0 to 466284
Data columns (total 42 columns):
 #   Column                       Dtype
---  ------                       -----
 0   loan_amnt                    int32
 1   funded_amnt                  int32
 2   term                         int8
 3   int_rate                     float32
 4   installment                  float32
 5   grade                        category
 6   sub_grade                    category
 7   emp_length                   int16
 8   home_ownership               category
 9   annual_inc                   float32
 10  verification_status          category
 11  issue_d                      datetime64[ns]
 12  loan_status                  category
 13  purpose                      category
 14  addr_state                   category
 15  dti                          float32
 16  delinq_2yrs                  int16
 17  inq_last_6mths               int16
 18  mths_since_last_delinq       float32
 19  open_acc                     int16
 20  pub_rec                      int16
 21  revol_bal                    int64
 22  revol_util                   float32
 23  total_acc                    int16
 24  initial_list_status          category
 25  out_prncp                    float32
 26  total_pymnt                  float32
 27  total_rec_prncp              float32
 28  total_rec_int                float32
 29  total_rec_late_fee           float32
 30  recoveries                   float32
 31  collection_recovery_fee      float32
 32  last_pymnt_amnt              float32
 33  collections_12_mths_ex_med   float32
 34  acc_now_delinq               int16
 35  tot_coll_amt                 float32
 36  tot_cur_bal                  float32
 37  total_rev_hi_lim             float32
 38  mths_since_earliest_cr_line  int16
 39  default                      int8
 40  recovery_rate                float32
 41  credit_conversion_factor     float32
dtypes: category(8), datetime64[ns](1), float32(20), int16(8), int32(2), int64(1), int8(2)
memory usage: 61.4 MB

- Great, by applying memory optimization, the data size decreased from 142.3+ MB to 61.4 MB, approximately 60% memory usage reduction! Now, the data exploration and modeling will be faster and more efficient.

In [51]:
# Save the memory optimized clean dataset into a parquet file, maintaining the converted lower memory consumption data types.
parquet_file_path = 'E:/lending_club_rep/Lending-Club-Credit-Scoring/data/clean_loan_data.parquet'
clean_df.to_parquet(parquet_file_path)

#### 1.8 Conclusion
- Now, we have a cleaned dataset to start data exploration and modeling. The tasks performed in this notebook can be resumed by the following topics:
    - Obtain a sorted dataframe, providing a chronological order for the loan data.
    - Remove features with higher than 70% missing rate. 
    - ⁠Remove features with excessive cardinality.
    - ⁠Remove features with an unique value for each observation.
    - ⁠Remove features with no variance/constant value.
    - Remove features that are unuseful.
    - Remove features with information already contained in others.
    - ⁠Denote there are features that will not be available at the moment of prediction (production Env) and must be removed further to avoid data leakage because they can drive valuable insights from the data. 
    - Remove observations with missings when they represent a very small portion of the data.
    - Impute missing values when it should have a zero value.
    - ⁠Convert features to correct data type (object to datetime and int).
    - ⁠Create new independent features.
    - ⁠Create the target variables for the PD (stablishing a default definition), EAD (credit_conversion_factor) and LGD (recovery_rate) models.
    - ⁠Search and fix inconsistent outlier values based on min max describe.
    - ⁠Optimize memory, obtaining a final parquet file.
- As a result, we went from 75 features to a dataset with 42 variables in its correct data types, optimized in terms of memory usage, with some missing values and outliers treat and new useful extracted features. Now, the exploratory data analysis and modeling will be faster, more efficient and reveal better insights.